@tailwind base;
@tailwind components;
@tailwind utilities;

/* Nuxt root element */
#__next {
    @apply flex flex-col h-screen
}

:root {
    --primary: #00A3E3;
    --secondary: #222425;
    --accent: #718096;
    --background: #FFF;
    --main: #0D0106;
    --header: #2D3748;
    --base-100: white
}

/* Use custom classes withing the utilities of TailwindCSS*/
@layer utilities {
    .text-primary { color: var(--primary)}

    .bg-primary { background-color: var(--primary)}

    .bg-secondary {
        background-color: var(--secondary);
        color: white
    }

    .text-base-100 {
        color: var(--base-100)
    }
    .primary-link { @apply no-underline text-primary hover:text-base-100}
}
@layer base {
    h1 { @apply text-3xl}

    h2 { @apply text-2xl }

    h3 { @apply text-xl }

    a { @apply cursor-pointer underline mx-1 transition duration-100 hover:text-primary }
}

